@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
/* global styles */
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}
p {
  font-size: 16px;
  font-weight: 600;
}
/* header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 20px;
}
header h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
nav ul li i {
  font-size: 1.3rem;
}
section {
  margin-top: 50px;
}
/* banner section */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 130px;
}
.banner h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 4rem;
}
.banner-description {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgba(224, 44, 109, 1);
  border-radius: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}
.banner button {
  border-radius: 40px;
}
.banner-image img {
  width: 100%;
  height: 400px;
}
.banner-image {
  background-image: url("../images/Circle\ design.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
/* sponsors section */
.sponsors {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
/* media query */
@media screen and (max-width: 576px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .banner-image {
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
